# Ignore Mac system files
.DS_Store

# Ignore node modules
node_modules/

# Ignore pt files
*.pt

# Ignore python caches
__pycache__/
*.pyc
*.pyd
.pixi
.ruff_cache/

# Ignore virtual environments
.venv/
venv/

# private files
*.env
.env.*
docs/ComputeMachine.md
